*.pyc
*.dll
*.so
*.o
*.zip
*.ipynb_checkpoints
.coverage
__pycache__

firmware/opensync/.vscode
firmware/opensync/build

.vscode/*
demos/videos/*
documents/manual/*
software/docs/*.py
software/docs/*.txt
software/docs/*.md